*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(219, 255, 255);
    display: block;
}

.menu{
    position: fixed;
    background-color: #1b1f3b;
    width: 100%;
    padding: 20px;
}

.menu ul{
    justify-content: center;
    text-align: center;
}

.menu ul li{
    display: inline;
    padding: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

main{
    background-color: #1b1f3b;
    width: 90%;
    margin: auto;
}

.time{
    text-align: center;
    width: 100%;
}

.time img{
    max-height: 45vw;
    max-width: 50%;
}

#cruzeiro{
    background-color: rgb(1,34,87);
}

#real_madrid{
    padding-top: 65px;
    background-color: #fff;
}

#bayer{
    background: linear-gradient(to left, rgb(2,44,94) 50%, rgb(157,2,8) 50%);
}

